<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Basreng si Boseng</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/slick/slick.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/slick/slick-theme.css') }}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>

    <body>
        <!-- Top bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-envelope"></i>
                        raflymaulannasirkss@gmail.com
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-phone-alt"></i>
                        +62 816-8064-13
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar End -->
        
        <!-- Nav Bar Start -->
        <div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="{{ url_for('home') }}" class="nav-item nav-link">Beranda</a>
                            <a href="{{ url_for('product') }}" class="nav-item nav-link">Produk</a>
                            <a href="{{ url_for('product_detail') }}" class="nav-item nav-link">Detail Produk</a>
                            <a href="{{ url_for('cart') }}" class="nav-item nav-link">Keranjang</a>
                            <a href="{{ url_for('checkout') }}" class="nav-item nav-link">Pembayaran</a>
                            <a href="{{ url_for('my_account') }}" class="nav-item nav-link">Akun Saya</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Halaman Lainnya</a>
                                <div class="dropdown-menu">
                                    <a href="{{ url_for('wishlist') }}" class="dropdown-item">Wishlist</a>
                                    <a href="{{ url_for('login') }}" class="dropdown-item active">Masuk & Daftar</a>
                                    <a href="{{ url_for('contact') }}" class="dropdown-item">Hubungi Kami</a>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Akun Pengguna</a>
                                <div class="dropdown-menu">
                                    <a href="{{ url_for('login') }}" class="dropdown-item">Masuk</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->      
        
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="{{ url_for('home') }}">
                                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            <a href="{{ url_for('wishlist') }}" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                            </a>
                            <a href="{{ url_for('cart') }}" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>(0)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End --> 
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Beranda</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('product') }}">Produk</a></li>
                    <li class="breadcrumb-item active">Masuk & Daftar</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">    
                        <div class="register-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nama Depan</label>
                                    <input class="form-control" type="text" placeholder="Nama Depan">
                                </div>
                                <div class="col-md-6">
                                    <label>Nama Belakang</label>
                                    <input class="form-control" type="text" placeholder="Nama Belakang">
                                </div>
                                <div class="col-md-6">
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" placeholder="E-mail">
                                </div>
                                <div class="col-md-6">
                                    <label>No. Handphone</label>
                                    <input class="form-control" type="text" placeholder="No. Handphone">
                                </div>
                                <div class="col-md-6">
                                    <label>Kata Sandi</label>
                                    <input class="form-control" type="text" placeholder="Kata Sandi">
                                </div>
                                <div class="col-md-6">
                                    <label>Ulangi Kata Sandi</label>
                                    <input class="form-control" type="text" placeholder="Kata Sandi">
                                </div>
                                <div class="col-md-12">
                                    <button class="btn">Daftar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="login-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>E-mail / Nama Pengguna</label>
                                    <input class="form-control" type="text" placeholder="E-mail / Nama Pengguna">
                                </div>
                                <div class="col-md-6">
                                    <label>Kata Sandi</label>
                                    <input class="form-control" type="text" placeholder="Kata Sandi">
                                </div>
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="newaccount">
                                        <label class="custom-control-label" for="newaccount">Biarkan saya tetap masuk</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn">Masuk</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login End -->
        
        <!-- Footer Start -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Hubungi Kami</h2>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>Kp. Rancabogo Rt02 Rw07 Des. Sagaracipta 40381</p>
                                <p><i class="fa fa-envelope"></i>raflymaulannasirkss@gmail.com</p>
                                <p><i class="fa fa-phone"></i>+62 816-8064-13</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Ikuti Kami</h2>
                            <div class="contact-info">
                                <div class="social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Informasi Perusahaan</h2>
                            <ul>
                                <li><a href="#">Tentang Kami</a></li>
                                <li><a href="#">Kebijakan Privasi</a></li>
                                <li><a href="#">Syarat & Ketentuan</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Informasi Pembelian</h2>
                            <ul>
                                <li><a href="#">Kebijakan Pembayaran</a></li>
                                <li><a href="#">Kebijakan Pengiriman</a></li>
                                <li><a href="#">Kebijakan Pengembalian</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="row payment align-items-center">
                    <div class="col-md-6">
                        <div class="payment-method">
                            <h2>Kami Menerima:</h2>
                            <img src="{{ url_for('static', filename='img/payment-method.png') }}" alt="Payment Method" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="payment-security">
                            <h2>Dijamin Oleh:</h2>
                            <img src="{{ url_for('static', filename='img/godaddy.svg') }}" alt="Payment Security" />
                            <img src="{{ url_for('static', filename='img/norton.svg') }}" alt="Payment Security" />
                            <img src="{{ url_for('static', filename='img/ssl.svg') }}" alt="Payment Security" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 copyright">
                        <p>Copyright & copy; <a href="#">Basreng si Boseng</a>. All Rights Reserved</p>
                    </div>

                    <div class="col-md-6 template-by">
						<!--/*** This template is free as long as you keep the footer author's credit link/attribution link/backlink. If you'd like to use the template without the footer author's credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->					
                        <p>Designed By <a href="https://github.com/Raflymaulannasir">Rafly Boseng</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->      
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/slick/slick.min.js') }}"></script>
        
        <!-- Template Javascript -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
